<!DOCTYPE html>
<html>
<body>

<h1 style="font-family:verdana;">Nak Vidly</h1>
<br/>
<p style="font-family:verdana;">This is a project build by Naveen kadiyala from the Complete NodeJs Tutorial by Mosh Hemadani</p>
<p style="font-family:verdana;">Creating Rest APi's using NodeJs, Express and Deploying it on heroku</p>
<br/>
<p style="font-family:verdana;">For complete source code, please go through the below github link</p>
<p style="font-family:verdana;"><a href="https://github.com/NaveenKadiyala/nak_vidly" target="_blank">Github Link</a></p>
<br/>
<br/>
<p style="font-family:verdana;">Please checkout the Tutorial link below, it will be awesome!!</p>
<p style="font-family:verdana;"><a href="https://codewithmosh.com/p/the-complete-node-js-course" target="_blank">Tutorial Link</a></p>

</body>
</html>

